<%= simple_form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :category_id, value: params[:category] %>
  </div>

  <label class="custom-file-upload" id="image-upload">
    <span id="file-selected">Select Image</span>
    <%= form.file_field :image, class: "form-control", id: "file-upload" %>
  </label>

  <div class="actions">
    <%= form.button :submit, "Upload", class: "form-button" %>
  </div>
<% end %>

