<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'categories', new_category_path %>


<% Category.all.each do |cat| %>
  <%= link_to cat.name, posts_path(category: cat.name) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category.name %></td>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
