<div class="page-center">
  <div class="page-container">

    <% if user_signed_in? %>
      <% if params.has_key?(:category) %>
        <div class="posts-header">
            <div class="info">
              <div class="label">Board name</div>
              <div class="board-name"><%= @category.name %></div>
            </div>

          <%= link_to new_post_path(@category, category: @category.id) do %>
            <div class="new-post-button">
              <i class="fal fa-plus"></i>
            </div>
          <% end %>

        </div>

        <% unless @posts.blank? %>

        <% @posts.each do |post| %>
          <div class="post-box" style="background-image:url(<%= post.image.service_url %>)">
            <%= post.title %>
            <!--<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>-->
          </div>
        <% end %>

        <% else %>
          <div class="empty-post-box">
            <div class="text">
              This board has no posts.
              <br>
              Let’s create some
            </div>
          </div>
        <% end %>


      <% else %>
        <div class="posts-header">
          <div class="board-name">Your Boards</div>
        </div>

        <%= link_to new_category_path, class: "post-box" do %>
          <div class="board-title">
            Create a new board
          </div>
        <% end %>


        <% Category.all.each do |cat| %>
          <%= link_to posts_path(category: cat.name), class: "post-box" do %>
            <div class="board-title">
              <%= cat.name %>
            </div>
          <% end %>
        <% end %>

      <% end %>
    <% end %>

  </div>
</div>
