<div class="page-center">
  <div class="page-container">

    <div class="posts-title">Your Boards</div>



    <% @categories.each do |category| %>
        <%= link_to posts_path(category: category.name), class: "post-box" do %>
          <div class="board-title">
            <%= category.name %>
          </div>
        <% end %>

        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>


    <br>

    <%= link_to 'New Category', new_category_path %>

  </div>
</div>
